/* universal selectors */
* {
  font-family: "Courier New", Courier, monospace;
}

/* element selectors */
body {
  background-color: #fdf5df;
}

footer {
  background-color: #f92c85;
  position: absolute;
  bottom: 0;
  width: 97%;
  text-align: center;
  border-radius: 20px;
  padding: 20px;
}

/* class selectors */
.align-center {
  text-align: center;
}

.border {
  border: #5ebec4;
  border-style: solid;
  border-radius: 20px;
}

.header {
  position: fixed;
  top: 10px;
  background-color: #5ebec4;
  display: flex;
  justify-content: space-between;
  width: 99%;
  align-items: center;
  border-radius: 20px;
}

.image {
  padding-top: 100px;
}

.marg-auto {
  margin: auto;
}

.pad-l20 {
  padding-left: 20px;
}

.pad-r20 {
  padding-right: 20px;
}

.width-fc {
  width: fit-content;
}
